body {
  background-color: cornflowerblue;
}

.upper_left {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightcoral;
  animation-name: move-upper-left-square;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.upper_left:hover {
  border: 3px solid white;
  transition: border 0.25s ease-in-out;
}
.upper_right {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0%;
  background-color: lightblue;
  animation-name: move-upper-right-square;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.upper_right:hover {
  border: 3px solid white;
  transition: border 0.25s ease-in-out;
}
.lower_left {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0%;
  left: 0;
  background-color: lightgreen;
  animation-name: move-lower-left-square;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.lower_left:hover {
  border: 3px solid white;
  transition: border 0.25s ease-in-out;
}
.lower_right {
  width: 100px;
  height: 100px;
  bottom: 0%;
  right: 0%;
  position: absolute;
  background-color: lightgoldenrodyellow;
  animation-name: move-lower-right-square;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.lower_right:hover {
  border: 3px solid white;
  transition: border 0.25s ease-in-out;
}

@keyframes move-upper-left-square {
  0% {
    top: 0;
    left: 0;
  }

  50% {
    background-color: black;
  }
  100% {
    top: 50%;
    left: 50%;
    background-color: black;
    border-bottom-right-radius: 100%;
  }
}

@keyframes move-upper-right-square {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    background-color: black;
  }
  100% {
    top: 50%;
    right: 50%;
    background-color: black;
    border-bottom-left-radius: 100%;
  }
}

@keyframes move-lower-left-square {
  0% {
    bottom: 0;
    left: 0;
  }

  50% {
    background-color: black;
  }
  100% {
    bottom: 50%;
    left: 50%;
    background-color: black;
    border-top-right-radius: 100%;
  }
}

@keyframes move-lower-right-square {
  0% {
    bottom: 0;
    right: 0;
  }

  50% {
    background-color: black;
  }
  100% {
    bottom: 50%;
    right: 50%;
    background-color: black;
    border-top-left-radius: 100%;
  }
}
